[defaults]
# Основной inventory для проверяющего и локальных запусков.
inventory = ansible/inventory.ini

# Роли лежат внутри каталога ansible, поэтому фиксируем путь явно.
roles_path = ansible/roles

# Не шумим предупреждениями о Python interpreter на чистых Debian/Ubuntu VM.
interpreter_python = auto_silent

# Для тестового стенда host key checking отключен, чтобы первый запуск был без ручного подтверждения fingerprint.
host_key_checking = False
retry_files_enabled = False
forks = 10
timeout = 30
callback_plugins = ansible/callback_plugins
stdout_callback = kyverno_mvp_readable
bin_ansible_callbacks = True
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/.ansible-tmp

[privilege_escalation]
# Повышение привилегий включается в playbook точечно.
become = False

[ssh_connection]
# Ускоряет повторные SSH-подключения во время одного запуска playbook.
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=3
