apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_root_application_name }}
  namespace: {{ argocd_namespace }}
spec:
  project: {{ argocd_root_application_project }}
  source:
    repoURL: {{ argocd_root_application_repo_url }}
    targetRevision: {{ argocd_root_application_target_revision }}
    path: {{ argocd_root_application_path }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
